In [1]:
#The data is already clean in the folder, the next thing will be to charge the data.

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import mysql.connector as conn
from sqlalchemy import create_engine

import Hygiene

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 1385
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   release_year_x    1000 non-null   int64
 4   rental_duration   1000 non-null   int64
 5   rental_rate       1000 non-null   float64
 6   length            1000 non-null   int64
 7   replacement_cost  1000 non-null   float64
 8   rating            1000 non-null   object
 9   special_features  1000 non-null   object
 10  category_id       614 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [3]:
#Database created empty

conexion = conn.connect(host='localhost', user='root', passwd='password')
cursor = conexion.cursor()

#cursor.execute('drop database if exists bustblocker;')
#cursor.execute('create database bustblocker;')

In [4]:
#Database connected

str_conn = 'mysql+pymysql://root:password@localhost:3306/bustblocker'

cursor = create_engine(str_conn)

In [5]:
#Loading data

actor = pd.read_csv('data/actor_clean.csv', encoding= "ISO-8859-1")
category = pd.read_csv('data/category_clean.csv', encoding= "ISO-8859-1")
film = pd.read_csv('data/film_clean.csv', encoding= "ISO-8859-1")
inventory = pd.read_csv('data/inventory_clean.csv', encoding= "ISO-8859-1")
title_actor = pd.read_csv('data/title_actor.csv', encoding= "ISO-8859-1")
rental = pd.read_csv('data/rental_clean.csv', encoding= "ISO-8859-1")


with open('schema.sql') as f:
    schema = f.read()

In [6]:
#bustblocker = pd.read_sql(schema, cursor)

In [7]:
pirateria=pd.read_sql('''SELECT *
                    FROM film;''', cursor)
pirateria.head()

Empty DataFrame
Columns: [film_id, title, description, release_year_x, rental_duration, rental_rate, length, replacement_cost, rating, special_features, category_id]
Index: []