In [1]:
#The data is already clean in the folder, the next thing will be to charge the data.

In [22]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import mysql.connector as conn
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import DDL

import Hygiene

In [23]:
#I could create an empty Database to connect it. I could fix the syntax thing and then just run the proper SQL.
#But for now, I'll be connecting the database already created manually through the SQL code and Workbench. 

conexion = conn.connect(host='localhost', user='root', passwd='password')
cursor = conexion.cursor()

#cursor.execute('drop database if exists bustblocker;')
#cursor.execute('create database bustblocker;')

In [24]:
#Database connected

str_conn = 'mysql+pymysql://root:password@localhost:3306/bustblocker'

cursor = create_engine(str_conn)

sesion=sessionmaker(bind=cursor)()

In [25]:
#Loading data

category = pd.read_csv('data/category_clean.csv', encoding= "ISO-8859-1")
actor = pd.read_csv('data/actor_clean.csv', encoding= "ISO-8859-1")
film = pd.read_csv('data/film_clean.csv', encoding= "ISO-8859-1")
title_actor = pd.read_csv('data/title_actor.csv', encoding= "ISO-8859-1")
inventory = pd.read_csv('data/inventory_clean.csv', encoding= "ISO-8859-1")
rental = pd.read_csv('data/rental_clean.csv', encoding= "ISO-8859-1")

In [31]:
with open('schema.sql') as f:
    schema = f.read()

In [35]:
#cursor.execute(schema.replace('\n', ''))

In [7]:
#pirateria=pd.read_sql('''SELECT *
#                    FROM film;''', cursor)
#pirateria.head()

In [26]:
film.head()

,film_id,title,description,release_year_x,rental_duration,rental_rate,length,replacement_cost,rating,special_features,category_id
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6.0
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",11.0
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",6.0
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",17.0
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,6,2.99,130,22.99,G,Deleted Scenes,17.0

In [27]:
#Here a function to populate the database, didn't have enough time to tidy it too much. 
#For moving it out to Funk class, a previous step is needed, for reading the structure of the database.
#I would need to merge somehouw the 6 dataframes into a single being.

tables = [category, actor, film, title_actor, inventory, rental]
table_nam = ['category', 'actor', 'film', 'title_actor', 'inventory', 'rental']
cont = 0
for table in tables:
    
    for i in range(len(table)):
        insert_query='insert into {} ({}) values {};'\
            .format(table_nam[cont], ','.join(table.columns), tuple(table.iloc[i].values)).replace('"', "'")
    
        cursor.execute(DDL(insert_query))
    sesion.commit()
    cont += 1

In [41]:
film.head()

,film_id,title,description,release_year_x,rental_duration,rental_rate,length,replacement_cost,rating,special_features,category_id
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6.0
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",11.0
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",6.0
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",17.0
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,6,2.99,130,22.99,G,Deleted Scenes,17.0

In [ ]:
#Here it is a function that I didn't use in the end

def por_un_tubo(df, cursor): 
    #Name of every column in the dataframe 
    col_names = [col for col in df.columns] 
    
    #SQL query to insert the dataframe's columns 
    query = f"INSERT INTO {df} VALUES {', '.join(col_names)}" 
    # Iterate through the dataframe and add the values to the query 
    for row in df.itertuples(): query += "({})".format(', '.join([str(val) for val in row[1:]])) 
    #Execute the query 
    #cursor = cursor.cursor() 
    cursor.execute(query) 
    conn.commit()

#fuego = por_un_tubo(category, cursor)
#fuego

In [ ]:
#Worst case scenario
'''category.to_sql(name='category', con=cursor, if_exists='replace', index=True )
actor.to_sql(name='actor', con=cursor, if_exists='replace', index=True )
film.to_sql(name='film', con=cursor, if_exists='replace', index=True )
title_actor.to_sql(name='title_actor', con=cursor, if_exists='replace', index=True )
inventory.to_sql(name='inventory', con=cursor, if_exists='replace', index=True )
rental.to_sql(name='rental', con=cursor, if_exists='replace', index=True )'''